body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: black;
  position: sticky;
  top: 0;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 90vh;
  background: linear-gradient(to top, #000, transparent),
              url('../assets/hero.jpg') center/cover;
  display: flex;
  align-items: center;
  padding-left: 60px;
}

.hero-text h1 {
  font-size: 60px;
}

.btn-red {
  background: #e50914;
  padding: 12px 25px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* CARDS */
.cards, .service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  padding: 40px;
}

.card, .service-card {
  background: #1c1c1c;
  padding: 30px;
  border-radius: 10px;
  transition: transform .3s;
}

.card:hover {
  transform: scale(1.05);
}

/* BOOKING */
.booking-box {
  max-width: 400px;
  margin: auto;
}

select, button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
}

footer {
  text-align: center;
  padding: 20px;
  background: black;
}

.page {
  padding: 60px;
  max-width: 1100px;
  margin: auto;
}

.about-content p {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 20px;
}

.about-grid,
.contact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 25px;
  margin-top: 40px;
}

.about-card,
.contact-info,
.contact-form {
  background: #1c1c1c;
  padding: 25px;
  border-radius: 12px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  background: #111;
  border: 1px solid #333;
  color: white;
}

.contact-form button {
  background: #e50914;
  border: none;
  padding: 12px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.navbar .active {
  color: #e50914;
}

